.Clientes{
    width: 80vw;
    min-height: 80vh;
}

/*Cards de Clientes*/

.cards-client-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    border: 1px solid rgb(0, 128, 124);
    margin-top: 20px;
}

.card-client{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 128, 124);
    border-radius: 10px;
    background-color: rgb(29, 44, 47);

    width: 160px;
    height: 180px;
    padding: 10px;
}
.card-client-title{
    font-size: 20px;
    align-self: center;
    font-weight: bold;
}
.card-client p{
    margin: 0;
}

.card-client-btns{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    width: 100%;
}

.btn-agregar{
    border: 1px solid gray;
    border-radius: 30px;
    background-color: rgb(23, 60, 50);
    width: 160px;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;

    font-size: 16px;
}

.btn-agregar:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(50, 100, 87);
}

/*Formulario Clientes*/
.form-agregar-client{
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    border: 2px solid rgb(0, 128, 124);
    border-radius: 10px;
    padding: 10px;

    min-width: 200px;
}
.form-agregar-field{
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 10px;
}

.form-btn{
    width: 200px;
    align-self: center;
}